/* add style here if needed */
#body{
    width:750px;
    margin:0 auto;
    margin-top:30px;
    margin-bottom:30px;
    COLOR:#2D92C4;
}
body {
    background:"background.gif";
}
/* ----- HEADER ----- */
#header {
    width:750px;
    height:150px;
    background-color:#333333;
    border-style:solid;
    border-width:medium;
    border-color:grey;
}
/* ----- NAVIGATION ----- */
#navigation {
    width:750px;
    height:40px;
    background-color:#333333;
    margin-top:10px;
    border-style:solid;
    border-width:medium;
    border-color:grey;
}
/* ----- MAIN CONTENT ----- */
#content {
    width:750px;
    min-height:450px; /* for modern browsers */
    height:auto !important; /* for modern browsers */
    height:450px; /* for IE5.x and IE6 */background-color:#333333;
    margin-top:10px;
}
/* ----- FOOTER ----- */
#footer {
    width:750px;
    height:100px;
    background-color:#333333;
    margin-top:10px;
    border-style:solid;
    border-width:medium;
    border-color:grey;
}
#title{
    COLOR: #FF0000;
    position:relative;
    left:10px;
    top:10px;
}
#ul_index{
    display:inline-block;
    list-style-type:none;
    margin:0;
    padding:0;
}
#li_index{
    float:left;
    display:inline;
}
#post_border{
    border-style:solid;
    border-width:medium;
    border-color:grey;
    position:relative;
    left:7px;
    top:10px;
}
#texttab{
    position:relative;
    left:10px;
    top:10px;
}
a:link {
    COLOR: #FF0000;
}
a:visited {
    COLOR: #FF0000;
}
a:hover {
    COLOR: #FF0000;
}
a:active {
    COLOR: #FF0000;
}
p{
    position:relative;
    left:15px;
    top:10px;
}
#signin_form{
    position:relative;
    top:25px;
    left:25px;
    border-color:grey;
}

#signup_form{
    position:relative;
    left:25px;
    border-color:grey;
}